body {
    margin: 0;
    padding: 0;
  }
  
  #game-area {
    width: 600px;  /* 25 * 24px = 800px */
    height: 600px;
    position: relative;
    margin: 20px auto;
    background-color: #ddd;
  
    /* Grille verticale */
    background-image:
      linear-gradient(to right, black 1px, transparent 1px),
      /* Grille horizontale */
      linear-gradient(to bottom, black 1px, transparent 1px);
    
    background-size: 24px 24px; /* taille de chaque case */
    background-repeat: repeat;
    overflow: hidden;
  }

  #player1 {
    width: 24px;
    height: 24px;
    background-color: blue;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
  }
  
  .bomb {
    width: 24px;
    height: 24px;
    background: url("images/tnt.jpg") center;
    background-size: cover;
    position: absolute;
  }
  
  .explosion {
    width: 24px;
    height: 24px;
    background: url("images/tnt.jpg") center;
    background-size: cover;
    position: absolute;
    opacity: 0.8;
    z-index: 1;
  }

  .block-breakable {
    width: 24px;
    height: 24px;
    background: url("images/diamond.jpg") center;
    background-size: cover;
    position: absolute;
  }  

  .block-indestructible{
    background: url("images/bedrock.png") center;
    background-size: cover;
    position: absolute;
    width: 24px;
    height: 24px;
  }
  
  .enemy {
    z-index: 1;
    background: url("images/Creeper.png") center;
    background-size: cover;
  }
  
  #message {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background: rgba(0,0,0,0.7);
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    display: none;
  }
  